.footer {
  position: relative;
  background-color: black;
}
.footerContainer {
  background-color: black;
  color: #a3a3a3;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1180px;
}

@media (min-width: 640px) {
  .footerContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footerContainer > .footerCol {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
  }
}

.footerTitle {
  font-size: 2.25rem;
  font-weight: 600;
  color: white;
}

.footerText {
  font-size: 1rem;
  line-height: 1.5;
}

.servicesTitle,
.usefulLinksTitle,
.contactUsTitle {
  letter-spacing: 0.1em;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}

.listItem {
  font-size: 1.125rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footerContainer a {
  color: white;
  text-decoration: none;
}
.footerBottom a {
  color: white;
  text-decoration: none;
}

.listIcon {
  font-size: 2rem;
  font-weight: 500;
}

.icon {
  font-size: 2rem;
  font-weight: 500;
}

.footerBottom {
  margin: 0 auto;
  max-width: 1180px;
  background-color: black;
  color: #a3a3a3;
  border-top: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerBottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 1.25rem;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textPrimaryGreen {
  color: #32cd32;
}
